<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hana.app.repository.AddrRepository">

    <select id="select" parameterType="Integer" resultType="AddrDto">
        SELECT * FROM db_addr WHERE addr_id=#{addrId}
    </select>
    <select id="selectAll" resultType="AddrDto">
        SELECT * FROM db_addr
    </select>
    <select id="selectId" parameterType="String" resultType="AddrDto">
        SELECT * FROM db_addr where cust_id = #{custId}
    </select>
    <insert id="insert" parameterType="AddrDto">
        INSERT INTO db_addr VALUES (0, #{addrName}, #{addrDetail}, #{custId})
    </insert>
    <update id="update" parameterType="AddrDto">
        UPDATE db_addr SET addr_name=#{addrName},addr_detail=#{addrDetail} WHERE addr_id=#{addrId}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM db_addr WHERE addr_id=#{addrId}
    </delete>

</mapper>